@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,700&family=Montserrat:wght@500&display=swap');
body{
	width:100vw;
	height:100vh;
	margin:0;
	display: block;
	background-color: #d1adcc;
	color:#5f2c3e;
	font-family: 'Lora', serif;
	overflow: hidden;
}

